.event {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 15px;
  padding: 10px 20px;
  border-bottom: 1px solid #bbbdc750;

  .description {
    text-decoration: none;
    font-size: clamp(14px, 1rem, 1.5vw);
  }
  
  i {
    font-size: clamp(16px, 1.4rem, 1.8vw);
    cursor: pointer;
  }

  &.complete {
    background: #b7ddf33d;

    .description {
      text-decoration: line-through;
    }
  }
}